$deep-blue: #0B0D17;
$light-blue: #D0D6F9;
$white: #FFFFFF;

$headings-styles: (
    "h1": 150px "Bellefair",
    "h2": 100px "Bellefair",
    "h3": 56px "Bellefair",
    "h4": 32px "Bellefair",
    "h5": 28px "Barlow Condensed",
);

$subheading-1: 28px "Bellefair";
$subheading-2: 14px "Barlow Condensed";

$nav-text: 16px "Barlow Condensed";
